NET "CA" LOC = L14;
NET "CB" LOC = H12;
NET "CC" LOC = N14;
NET "CD" LOC = N11;
NET "CE" LOC = P12;
NET "CF" LOC = L13;
NET "CF" LOC = M12;
NET "AN3" LOC = F12;
NET "AN2" LOC = J12;
NET "AN1" LOC = M13;
NET "AN0" LOC = K14;
NET "clk" LOC = B8;
NET "rst" LOC = N3;
NET "b1" LOC = A7;
NET "b2" LOC = M4;
NET "b3" LOC = C11;
NET "b4" LOC = G12;
NET "l1" LOC = G1;
NET "l2" LOC = P4;
NET "l3" LOC = N4;
NET "l4" LOC = N5;
NET "press" LOC = M5;
//NET "match" LOC = F3;
NET "sound" LOC = B2;